{{define "title"}}Home{{end}}

{{define "layout-content"}}
<div class="container">
  <h2>Latest Posts</h2>
  <div class="row gy-4">
    {{range .}}
    <div class="col-6 col-md-4 col-lg-3 col-xl-2">
      <a href="/i/{{.Id}}" class="text-decoration-none">
        <div class="card post-preview">
          <img src="{{.ImgPath}}" class="card-img-top" alt="Example image">
          <div class="card-body">
            <h5 class="card-title">{{.Title}}</h5>
            <p class="card-text">by {{.AuthorId}}</p>
          </div>
        </div>
      </a>
    </div>
    {{end}}
  </div>
</div>
{{end}}
